<div class="formo">
<%= simple_form_for(@cocktail) do |f| %>
<%= f.input :name %>
<%= f.submit "submit", class: "btn btn-primary"%>
<% end %>
</div>

<%= link_to "return", cocktails_path, class: "btn btn-primary"%>

